.breadcrumb-container
  width: 1110px
  margin: auto
  height: 50px

.brcr-list
  padding: 15px 0
  margin: 0
  display: flex
  list-style-type: none

.brcr-list-link
  text-decoration: none
  color: #0A223D
  list-style-type: none
  &::after
    content: '/'
    margin: 0 4px

@media screen and ( max-width: 1200px  )
  .breadcrumb-container
    width: 960px
@media screen and ( max-width: 992px  )
  .breadcrumb-container
    width: 760px
@media screen and ( max-width: 768px  )
  .breadcrumb-container
    width: 600px
@media screen and ( max-width: 600px  )
  .breadcrumb-container
    margin-left: 20px
