.footer
  background-color: #0A223D
.footer-container
  width: 1110px
  margin: auto
  padding-top: 108px
.footer-grid
  display: grid
  grid-template-columns: 25% 25% 32% 18%
  grid-template-rows: repeat(3, 1fl)
  width: 1110px
  grid-row-gap: 90px

.footer-txt
  color: #BDBDBD
  font-size: 14px
.footer-categories-list
  padding-left: 0
.footer-info-list
  padding-left: 0
.footer-legal-list
  padding-left: 0
.fb-list
  padding-left: 0
ul
  list-style-type: none
.footer-links
  text-decoration: none
  color: #BDBDBD
  cursor: pointer
  display: inline
.footer-txt-short
  color: #BDBDBD
  width: 448px
  display: inline
  font-size: 14px
  margin: 0
.footer-contacts-container
  display: flex
  flex-direction: column
.fcc-one
  display: flex
  margin-bottom: 22px
.fcc-two
  display: flex

.fcc-three
  display: flex
  margin-top: 20px

.footer-txt-link
  cursor: pointer
  text-decoration: none
  color: #BDBDBD
.footer-header
  color: white
  font-size: 18px
  text-transform: uppercase
  margin-top: 0
.footer-header-social
  color: white
  font-size: 18px
  text-transform: uppercase
  margin-top: 0
  display: inline
  margin-right: 42px
.footer-img
  width: 24px
  height: 24px
  margin-right: 17px
.footer-form-txt
  color: #BDBDBD
  font-size: 12px
.footer-tx
  color: white
  font-size: 12px
.footer-logo-white
  font-size: 64px
  font-family: Luckiest Guy
  color: white
  margin: 0
  line-height: 64px
.footer-logo-pink
  font-size: 64px
  font-family: Luckiest Guy
  color: #EC1F46
  margin: 0
  line-height: 64px
.footer-contacts
  grid-column-start: 1
  grid-column-end: 3
.footer-form
  grid-column-start: 3
  grid-column-end: 5

.footer-bottom-one
  grid-column-start: 1
  grid-column-end: 4
  text-align: center

.footer-input
  width: 256px
  height: 50px
  border-radius: 4px
  padding-left: 22px
  margin-right: 30px
  margin-bottom: 15px

.footer-input-left
  width: 255px
  height: 50px
  border-radius: 4px
  padding-left: 22px
  margin-bottom: 15px

.footer-input-big
  width: 544px
  height: 123px
  padding-top: 18px
  padding-left: 23px
  padding-right: 23px
  padding-top: 18px
  border-radius: 4px
  margin-bottom: 22px

.footer-button
  width: 160px
  height: 50px
  background-color: #EC1F46
  color: white
  font-size: 12px
  border-radius: 4px
  border-color: #EC1F46
  display: inline
  &:hover
    color: #EC1F46
    background-color: white

.footer-form-txt
  display: inline
  margin-left: 282px

.footer-tx
  display: inline
  margin-right: 20px

.fb-list
  margin-bottom: 0
  margin-top: 0

.footer-bottom-img
  margin-left: 50px
  margin-bottom: 46px

@media screen and ( max-width: 992px  )
  .footer-container
    width: 760px
  .footer-grid

    width: 760px
    grid-row-gap: 90px
  .footer-input
    width: 380px
  .footer-input-left
    width: 380px

  .footer-input-big
    width: 380px
    height: 300px
    margin-bottom: 20px
  .footer-form-txt
    margin-left: 120px
  .footer-bottom-img
    margin-left: 0

@media screen and ( max-width: 768px  )
  .footer-container
    width: 600px
  .footer-grid
    width: 600px
    grid-row-gap: 60px
  .footer-logo
    grid-column-start: 1
    grid-column-end: 5
  .footer-info
    grid-column-start: 2
    grid-column-end: 4
    margin-left: 20px
  .footer-categories
    margin-right: -20px
  .footer-legal
    margin-left: -25px
  .footer-header-social
    margin-right: 10px
  .footer-contacts
    grid-column-start: 1
    grid-column-end: 5
  .footer-form
    grid-column-start: 1
    grid-column-end: 5
  .footer-input
    width: 255px
    height: 50px
    display: inline
  .footer-input-left
    width: 255px
    height: 50px
    display: inline

  .footer-input-big
    width: 545px
    height: 123px
    margin-bottom: 20px
  .footer-form-txt
    margin-left: 285px
  .footer-bottom-img
    margin-left: -35px
  .fb-list
    text-align: left
@media screen and ( max-width: 600px  )
  .footer-container
    width: 90%
    height: auto
    padding-bottom: 18px
  .footer-grid
    width: 90%
    grid-row-gap: 60px
  .footer-legal
    margin-left: 10px
  .footer-info
    margin-left: 25px
  .footer-header-social
    margin-right: 50px
  .footer-input
    width: 545px
    height: 50px
  .footer-input-left
    width: 545px
    height: 50px
  .footer-form-txt
    margin-left: 15px
  .footer-bottom-img
    margin-left: 8px

@media screen and ( max-width: 375px  )
  .footer-container
    width: 90%
    height: auto
    padding-bottom: 18px
  .footer-grid
    width: 90%
    grid-row-gap: 35px
  .footer-logo
    grid-column-start: 1
    grid-column-end: 5
  .footer-info
    grid-column-start: 1
    grid-column-end: 5
    margin-left: 0
  .footer-categories
    grid-column-start: 1
    grid-column-end: 5
  .footer-legal
    grid-column-start: 1
    grid-column-end: 5
    margin-left: 0
  .footer-header-social
    margin-right: 100px
  .footer-contacts
    grid-column-start: 1
    grid-column-end: 5
  .footer-form
    grid-column-start: 1
    grid-column-end: 5
  .footer-input
    width: 300px
    height: 50px
  .footer-input-left
    width: 300px
    height: 50px
  .footer-input-big
    width: 300px
  .footer-bottom-one
    grid-column-start: 1
    grid-column-end: 5
  .footer-tx
    margin-right: 10px
  .footer-bottom-two
    grid-column-start: 1
    grid-column-end: 5
