
.hotel-details
  background-color: #F5FAFE
.hotel-details-container
  width: 1110px
  margin: auto
  display: flex
  justify-content: space-between

.hotel-price
  width: 350px
  height: 210px
  background-color: #0A223D
  border: 1px solid #0A223D
  border-radius: 8px
  color: white
  margin-bottom: 27px

.price-wrapper-up
  display: flex
  justify-content: space-between
  padding-right: 29px
  padding-left: 26px
  padding-bottom: 9px

.price-wrapper-left
  display: flex
  flex-direction: column

.price-wrapper-right
  display: flex
  flex-direction: column

.price-wrapper-down
  display: flex
  justify-content: space-between
  padding-right: 29px
  padding-left: 26px
  padding-bottom: 17px

.price-text-from
  padding-top: 29px
  font-size: 10px
  stroke: solid #000
  font-family: 'Nunito', sans-serif

.price-text-dollar
  font-size: 24px
  font-weight: 800
  font-family: 'Nunito', sans-serif

.price-text-per
  font-size: 12px
  font-family: 'Nunito', sans-serif

.price-text-guest
  padding-top: 33px
  font-size: 12px
  font-family: 'Nunito', sans-serif

.price-text-room
  font-size: 12px
  font-family: 'Nunito', sans-serif

.call-center
  font-size: 18px
  font-family: 'Nunito', sans-serif

.tel
  font-size: 18px
  text-decoration: none
  color: #eee
  font-family: 'Nunito', sans-serif

.view-options
  margin-right: 29px
  margin-left: 26px
  width: 295px
  height: 45px
  cursor: pointer
  background-color: #EC1F46
  border: 1px solid #EC1F46
  border-radius: 4px
  color: #eee
  font-family: 'Nunito', sans-serif
  font-weight: 600
  font-size: 14px

.hotel-photos
  margin-bottom: 70px

.swiper
  width: 700px
  height: 450px

.swiper-button-prev
  opacity: 0.8

.swiper-button-next
  opacity: 0.8

.swiper-slide
  &:after
    content: ''
    position: absolute
    width: 100%
    height: 100%
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: linear-gradient(180deg,rgba(0, 122, 223, 0.48) 0%,rgba(255, 255, 255, 0.128)100%)
    z-index: 10

@media screen and ( max-width: 1200px  )
  .hotel-details-container
    width: 960px
  .swiper
    width: 570px
    height: 450px
  .hotel-slide
    width: 700px
    height: 450px
@media screen and ( max-width: 992px  )
  .hotel-details-container
    width: 760px
    display: block
  .hotel-details-left-container
    width: 760px
    display: flex
    justify-content: space-between
  .hotel-price
    margin-right: 20px
  .swiper
    width: 760px
    height: 450px
  .hotel-slide
    width: 760px
    height: 450px
  .hotel-photos
    margin-bottom: 50px
@media screen and ( max-width: 768px  )
  .hotel-details-container
    width: 600px
    display: block
  .hotel-details-left-container
    width: 600px
    display: flex
    justify-content: space-between
  .hotel-price
    width: 300px
  .view-options
    width: 200px
  .location
    width: 280px
  .swiper
    width: 600px
  .hotel-slide
    width: 600px
  .hotel-photos
    margin-bottom: 40px

@media screen and ( max-width: 600px  )
  .hotel-details-container
    width: 90%
    height: auto
    padding-bottom: 18px

@media screen and ( max-width: 375px  )
  .hotel-details-container
    width: 90%
    height: auto
    display: block

  .hotel-photo-slider
    width: 100%
    margin-bottom: -50px

  .hotel-price
    width: 100%

  .location
    width: 100%

  .hotel-details-container
    width: 90%
    display: block
  .hotel-details-left-container
    width: 90%
    display: block
  .hotel-photos
    margin-bottom: 20px
  .hotel-price
    width: 337px
  .view-options
    width: 280px
  .location
    width: 337px
  .swiper
    width: 270px
    height: 180px
  .hotel-slide
    width: 270px
    height: 180px
