@media screen and ( max-width: 1200px  )
  .menu-dopdown-btn
    display: none
  .header-container
    width: 960px
  .navbar-container
    width: 960px
  .header-wrapper
    width: 960px
  .search .search-input
    width: 240px
    height: 40px
    border: 0px
  .user
    margin-left: 250px

@media screen and ( max-width: 992px  )
  .menu-dopdown-btn
    display: none
  .header-container
    width: 760px
  .navbar-container
    width: 760px
  .header-wrapper
    width: 760px
  .search
    margin-left: 50px
  .search .search-input
    width: 200px
    height: 40px
    border: 0px
  .user
    margin-left: 150px

  .menu-link
    font-size: 13px

@media screen and ( max-width: 768px  )
  .menu-dopdown-btn
    display: none
  .header-container
    width: 600px
  .navbar-container
    width: 600px
  .header-wrapper
    width: 600px
    height: 100px
  .logo-img
    width: 130px
  .logo
    width: 130px
  .search
    margin-left: 40px
  .search .search-input
    width: 190px
    height: 40px
    border: 0px
  .user
    margin-left: 55px
  .menu-link
    font-size: 12px
  .navbar
    height: 60px
  .navbar .navbar-container .navbar-list
    padding-top: 20px

@media screen and ( max-width: 600px  )
  .navbar, .navbar-container, .navbar-list
    display: none
  .search, .search-input, .user, .user-name
    display: none
  .logo
    margin-left: 20px
    margin-top: 28px
  .header-container, .header-wrapper
    width: auto
    height: 70px
  .menu-dopdown-btn
    width: 16px
    height: 11px
    margin-top: 29px
    display: flex
    justify-content: center
    margin-right: 20px
    border: none
    background-color: white
    cursor: pointer
  .menu-dropout
    align-items: center
  .header-wrapper
    display: flex
    justify-content: space-between
