@media screen and ( max-width: 1200px  )
  .menu-dopdown-btn
    display: none
  .header-container
    width: 960px
  .navbar-container
    width: 960px
  .header-wrapper
    width: 960px
  .search .search-input
    width: 240px
    height: 40px
    border: 0px
  .user
    margin-left: 250px

@media screen and ( max-width: 992px  )
  .menu-dopdown-btn
    display: none
  .header-container
    width: 760px
  .navbar-container
    width: 760px
  .header-wrapper
    width: 760px
  .search
    margin-left: 50px
  .search .search-input
    width: 200px
    height: 40px
    border: 0px
  .user
    margin-left: 150px

  .menu-link
    font-size: 13px

@media screen and ( max-width: 768px  )
  .menu-dopdown-btn
    display: none
  .header-container
    width: 600px
  .navbar-container
    width: 600px
  .header-wrapper
    width: 600px
    height: 100px
  .logo-img
    width: 130px
  .logo
    width: 130px
  .search
    margin-left: 40px
  .search .search-input
    width: 190px
    height: 40px
    border: 0px
  .user
    margin-left: 55px
  .menu-link
    font-size: 12px
  .navbar
    height: 60px
  .navbar .navbar-container .navbar-list
    padding-top: 20px

@media screen and ( max-width: 600px  )
  .navbar, .navbar-container, .navbar-list
    display: none
    position: fixed
    top: 70px
    left: 0
    right: 0
    bottom: 0
    z-index: 99

  .logo
    margin-left: 20px
    margin-top: 28px
  .header-container, .header-wrapper
    width: auto
    height: 70px
  .menu-dopdown-btn
    width: 16px
    height: 11px
    margin-top: 29px
    display: flex
    justify-content: center
    margin-right: 20px
    border: none
    background-color: white
    cursor: pointer
  .menu-dropout
    align-items: center
  .header-wrapper
    display: flex
    justify-content: space-between
  .header-wrapper--mobile_fixed
    position: fixed
    background-color: white
    z-index: 99
    top: 0
    bottom: 0
    left: 0
    right: 0
  .navbar--visible
    display: block

  .navbar-container--visible
    display: block
  .navbar-list--visible
    background-color: #0A223D
    flex-direction: column
  .menu-link-last
    color: white
    text-decoration: none
    font-weight: 700
    font-size: 14px
    margin-left: 250px

  .menu-link
    margin-left: 250px
    font-size: 14px
    margin-bottom: 20px

  .user-name--mobile_hidden, .user--mobile_hidden, .search--mobile_hidden
    display: none

  .user-name--mobile_visible, .user--mobile_visible, .search--mobile_visible
    display: flex
    flex-direction: column
    color: white
    text-decoration: none
  .user-img-visible
    width: 40px
    height: 40px
    border-radius: 50px
    object-fit: cover
    margin-left: 200px
    margin-bottom: 20px
  .user-name--mobile_visible
    margin-top: 0
    margin-left: 245px
    margin-bottom: 20px
  .search--mobile_visible
    width: 450px
    height: 40px
    display: inline
    margin-left: 70px
  .search-input-visible
    width: 430px
    height: 40px
    margin-bottom: 20px

  .search-button-visible
    display: inline
    width: 65px
    height: 42px
    color: white
    background-color: #EC1F46
    border-radius: 4px
    border-color: #EC1F46
    margin-left: -15px
